{% import "fields.html" as fields %}

<html>
  <head>
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script src="/static/app.js"></script>
    <link rel="stylesheet" href="/static/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="body-container">
      <h1>HiveMind Pi Config</h1>

      <form>
        <h2>Network Settings</h2>

        {{ fields.switch("enableWifi", "Enable wireless network", default=True) }}
        {{ fields.text("ssid", "Wireless SSID") }}
        {{ fields.text("psk", "Wireless Password") }}
        {{ fields.switch("enableRouter", "Enable router", default=True,
        helperText="Allow the cabinet to connect to the internet through this device's wireless connection.") }}

        <h2>Cabinet Settings</h2>
        {{ fields.text("sceneName", "Scene name") }}
        {{ fields.text("cabinetName", "Cabinet name") }}
        {{ fields.text("deviceID", "Client device ID") }}
        {{ fields.text("token", "Client token") }}
        {{ fields.switch("enableStats", "Enable stats client", default=True) }}

        <h2>NFC Reader Settings</h2>
        {{ fields.switch("enableNFC", "Enable NFC sign-in", default=True) }}

        {% call fields.select("readerColor", "Reader color") %}
        {{ fields.option("blue", "Blue") }}
        {{ fields.option("gold", "Gold") }}
        {% endcall %}

        <h2>Other Settings</h2>
        {{ fields.switch("enableSSH", "Enable SSH", default=True) }}
        {{ fields.text("password", "Password for hivemind user") }}
        {{ fields.text("publicKeys", "SSH public key(s)") }}

        <div class="error-message">
          <div class="title">Error when updating configuration:</div>
          <div class="message"></div>
        </div>

        <button type="submit">Save and Restart</button>
      </form>

      <div class="wait-message">
        <div>Submitting...</div>
        <img src="/static/loading.svg" alt="loading" />
      </div>

      <div class="success-message">
        Configuration complete. Device will reboot.
      </div>
    </div>
  </body>
</html>
